body {
    /* background-color: aliceblue; */
    background-image: url(../Images\ and\ Icons/backgroundPic.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.topNavbar {
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    top: 0%;
    left: 0%;
    right: inherit;
    /* height: 10%; */
    width: 100%;
    /* padding-top: 1%;
    padding-bottom: 1%; */
    overflow: hidden;
    padding: 1%;
}

#optionDesign {
    float: right;
    color: white;
    font-size: x-large;
}

.titleDesign {
    color: aquamarine;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250%;
}

.navButton {
    background-color: transparent;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: white;
    /* align-self: ; */
}

.navButton:hover {
    color: yellow;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 
    'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
}